**/__pycache__/
**/test_js/

# Environments
*.env

# Ignore data files
*.db

*.ipynb
**/rsconnect-pyton/
*.env
*venv
.DS_Store
*DS_Store

data/GIFT_practitioners.csv
data/GIFT_practitioners.xlsx
data/practitioners.xlsx

contrato/*
